*{
    box-sizing: border-box;
}
[class *= "col-"]{
    float: left;
    padding: 15px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}


/*Styles and colors*/

html {
    font-family: Helvetica, sans-serif;
}

.header{
  background-color: #f2f2f2;
    color: #000000;
    padding: 10px;


}
.lineheader{
 background-color: #f2f2f2;
    color: #000000;
    padding: 5px;

}
.substitute{
 color: #000000;
 border-color:#D3D3D3;;
 border-style:solid;
 background-color: #e6ffe6;
}
.status{

    padding: 10px;
    border-color: #f2f2f2;
   border-bottom-style: solid;
   border-top-style: solid;
   line-height: 1px;

}
.statusheader{
font-weight:normal;
      color:#696969;
}

h1{
    text-align: center;
    
}
h3{
    font-weight:normal;
    color:#696969;
     border-bottom-style:solid;
    border-bottom-color: #f2f2f2;
    
}
dl{
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;

}
dt{
    float: left;
    width: 30%;
    padding: 0;
    margin: 0;
    font-weight: bold;
}
dd{
    float: left;
    width: 70%;
    padding: 0;
    margin: 0
}